.home{
    background-color:#191A2E;
    height: 100%;
    width: 100%;
    text-align: center; overflow-x: auto;
}
h1{
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: 45px;
    background: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar {
  width: 10px;
  background-image: transparent;
}


::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
  max-height: 100px;
  background-color: transparent;
}

.logo{
    text-align: center;

}
.vdfbig{
    max-width: 600px; 
    width: 100%;
    border-radius: 5px;
    transition: linear 0.75s;
    cursor:zoomout;
}
.vdfbig :hover{
  max-width: 800px; 
  width: 100%;
  border-radius: 5px;
  transition: linear 0.75s;
}
.logo-omg{
    max-width: 600px;
    max-height: 400px;
    margin-top: 20px;
}
.lcenetr{
    margin-left: 50px;
}
.intro{
    font-size: 20px;
    text-align: center;
    color:var(--text_color);
    width: 60%;
    margin: auto;
}
.Home::-webkit-scrollbar-thumb{
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
    border-radius: 50px;
}
nav .content .links::-webkit-scrollbar-thumb{
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
    border-radius: 50px;
}
.topnav{
    display: flex;
    justify-content: center;
    width: 60%;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
    border-radius: 20px ;
    margin: auto;
}
.topnav a {
    text-align: center;
    display: block;
    color: #f2f2f2;
    font-size: 30px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }
  .libkdown{ color: #9C53F2 ; text-decoration: underline;}
  
  /* Change color on hover */
  .topnav a:hover {
    transform: translateY(-2px);
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  .accordion {
    background-color: #2B3245;
    color:#7883DD;
    font-size: 26px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 8px;
    /*border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;*/
  }
  
  .active, .accordion:hover {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: 6px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
    padding: 0 18px;
    background-color: #1C2333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 30px;
  }

  .a-sen{
    font-size: 27px;
    color: #f2f2f2;
    text-decoration: none;
    width: 33.3%;   } .clf li { list-style-type: none;
    }
  /* Create three equal columns that floats next to each other */
  .row {
    float: left;
    width: 30%;
    height: 400px;
    padding: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #303443; border-radius:18px ;
  }
  .load-more {
    background-image:linear-gradient(to right, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .numcode{
    margin-right: 20px;
  }
  .lht{
    color: #7883DD;
  }
  .tcode{
    color: #00DBDE;
  }
  .tso{
    color: #00DBDE;
  }
  .code{
    background-color: #1A1A1A;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  .load-more .load-more-text {
    color: #FFFFFF;
  }
  .load-more:hover {
    box-shadow: rgba(231, 157, 213, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  @media (min-width: 768px) {
    .load-more {
      padding: 0 2.6rem;
    }
  }
.ghin{
  font-style: italic;
  font-size: 22px;
  color: #7883DD;
}
.vdf{
  max-width: 500px;
  width: 100%;
  position: block;
  border-radius: 20px;
  box-shadow: #4980D7 0px 2px 6px 0px;
}
.lowhl{
  font-size: 25px;
  background: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.highlight {
  background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
  border-radius: 6px;
  padding: 3px 6px;
}
  .nmtext{
    font-size: 20px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .lm{
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 50px;
    color: #f2f2f2;
    width: 80%;
  }
  h2{
    font-size: 30px;
    color: var(--high_text_color);
  }
  .a-sen:hover {
    transform: translateY(-2px);
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    
  }
  .mobilalogo{ display: block; font-size: 70px;     background: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; text-align: center;}
  nav #show-menu:checked ~.Home{
    filter: blur(3px);
  }
  .ht{
    font-size: 25px;
    color: var( --high_text_color);
  }
  .bigt{
    font-size: 40px;
    background: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .vl {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    border-top: 10px solid #9C53F2;
    border-top-color: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 20px;
    width: 60%;
  }
  .load-more {display: block; width: 200px; height: 50px; border-radius: 5px; margin: auto;} .bottom-box{ display:grid; min-width: 100%;  margin-bottom: 50px;}
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:1200px) {
    .mobilalogo{ display: block; 
      font-size: 30px;   
       background: -webkit-linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      text-align: center;
      padding-top:100px ;
    }
    .logo-omg{
      display: none;
    }
    .intro{
      font-size: 20px;
      text-align: center; margin-bottom: 25px;
    }
    .topnav {
      display: none;
    }
    .lm{
        margin-top: 20px;
        margin: auto;
    }
    .row {
      width: 100%;
      padding: 30px;
    }
    .icon-bar{
      display: none;
    }
  }
