@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  font-family:'baloo 2',cursive;
}

body {
  margin: 0;
  background-color:#0F0F0F;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #0F0F0F;
}


::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
  max-height: 100px;
}
.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 5px solid #272727;
  background-color:#0F0F0F;
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  display: flex;
  border-radius: 20px;
}



.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #AAA;
  border-radius: 20px;
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.channel-icon {
  margin-right: .75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
}

.video-details {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-decoration: none;
  color: #20E3B2;
}

.video-channel-name {
  margin-bottom: .1rem;
  text-decoration: none;
  transition: color 150ms;
}

.video-channel-name:hover {
  color: #111;
}

.video-channel-name
{
  color: #667FEA;
}
.video-metadata{
  color: #A0AEC0;
}
.video-section-title {
  grid-column: 1 / -1;
  margin: -.5rem 0;
  display: flex;
  color: #F0F0F0;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}
*{
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
}
.box{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 10px;
}
.search-box{
  background-color: rgba(255, 255, 255, 0.2);
  height: 40px;
  border-radius: 40px;
  backdrop-filter: blur(40px);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input{
  border: none;
  background: none;
  outline: none;
  font-size: 1em;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 0;
  width: 0;
  transition: 0.4s;
}
.search-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #F874D3;
  color: #FFF;
  transition: 0.4s;
}
.search-box:hover .search-input{
  width: 250px;
  padding: 0 10px;
}
.search-box:hover .search-btn{
  color: #2F3640;
  background: #FFF;
}
.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}

.videos {
  background-color: #0F0F0F;
}

.categories {
  padding: 1rem 2rem;
  border-bottom: 1px solid #272727;
  padding-top: 120px;
  overflow-x: scroll;
  width: 100%;
}

.category-section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border-bottom: 1px solid #272727;
  border-radius: 900px;
  background-color: #E7E7E7;
  padding: .5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.category:hover {
  background-color: #DDD;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #EEE;
}

.category:last-child {
  margin-right: 0;
}



.menu-channel-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
}
