@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "baloo 2",cursive;
    scroll-behavior: smooth;
}
h1 {
    font-size: 1.5rem;
    color: #fff;
}

h4 {
    text-transform: uppercase;
    margin-left: 20px;
    font-size: .9rem;
    color: #aaa;
}

::-webkit-scrollbar {
  width: 10px;

}
.hack{
  width: 100%;
  height: 30px;
  position: sticky;
  padding: 30px;
  background-color: #695CFE;
  border-radius: 20px;
  text-align: center;
}
.tieuy{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
}
.logomini{
  width: 60px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
  max-height: 100px;
}
p,
a {
    font-size: 0.9rem;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 12px 0;
}


.profile-container {
    display: flex;
    align-items: center;
}

.profile-container i {
    margin-left: 25px;
}

.profile-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


/* body container */

.body-container {
    padding-left: 80px;
    display: flex;
    position: absolute;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    z-index: 2;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

#susl{z-index:90}
/* sidebar stars here */


/* main content starts here */

.content {
    width: 100%;
}



/* video container startrs here  */

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
    padding: 20px 25px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    overflow-y: scroll;
    height: 100%;
}

.video-content-cover {
    position: relative;
    transition: .5s;
    transition-delay: .05s;
    background-color: var(--box-color);
    border-radius: 10px;
    height: 300px;
}

.video-content {
    margin-bottom: 25px;
    position: relative;
    transition: .5s;
    width: 100%;
  }
.video-box {
    position: relative;
    width: auto;
    height: 200px;
    display: block;
}
.video-details {
    display: flex;
    color: #fff;
    padding-top: 12px;
}

.channel-logo {
    position: relative;
    min-width: 35px;
    padding-left: 6px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.detail {
    margin-left: 12px;
}


.title {
    font-size: .9rem;
    color : var(--text-color);
}
.channel-name {
    font-size: .8rem;
    margin-top: 10px;
    color: #aaa;
}


.views-upload {
    display: flex;
    font-size: .8rem;
    color: #aaa;
}

.btn {
    padding: 5px 0;
    color: #aaa;
    text-transform: uppercase;
    width: 100%;
    background-color: #373737;
    text-align: center;
    margin: 5px 0;
    font-size: .6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* responsive starts here */

@media (max-width:1200px) {
    .sidebar {
        width: 50px;
        overflow-x: hidden;
    }
    .content {
        width: calc(100vw - 70px);
    }
    .more {
        display: none;
    }
    
}

@media (max-width:1050px) {
    .video-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:820px) {
    .video-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    .video-container {
        grid-template-columns: 1fr;
    }
    .search-container,
    .ri-grid-fill {
        display: none;
    }
    .video-container {
        grid-gap: 10px;
        padding: 10px 10px;
    }
    .header {
        padding-right: 10px;
    }
    .video-content:hover .video-details {
        background-color: #181818;
        padding: 0px;
        padding-top: 12px;
    }
    .video-content:hover .channel-logo {
        min-width: 35px;
        height: 35px;
    }
    .video-content:hover .title {
        font-size: .9rem;
    }
    .video-content:hover .channel-name {
        font-size: .8rem;
    }
    .video-content:hover .views-upload {
        font-size: .8rem;
    }
    .video-content:hover .hidden-content {
        display: none;
    }
}
.wrapper{
  visibility: hidden;
  position: absolute;
  width: 300px;
  border-radius: 10px;
  z-index: 5;
  background: #fff;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}
.wrapper .menu{
  padding: 10px 12px;
}
.content .item{
  list-style: none;
  font-size: 22px;
  height: 50px;
  display: flex;
  width: 200px;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 0 5px 0 10px;
}
.content .item:hover{
  background: #f2f2f2;
}
.content .item span{
  margin-left: 8px;
  font-size: 19px;
}
.content .setting{
  display: flex;
  margin-top: -5px;
  padding: 5px 12px;
  border-top: 1px solid #ccc;
}
.content .share{
  position: relative;
  justify-content: space-between;
}
.share .share-menu{
  position: absolute;
  background: #fff;
  width: 200px;
  right: -200px;
  top: -35px;
  padding: 13px;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}
.share:hover .share-menu{
  opacity: 1;
  pointer-events: auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;
  --box-color: #ECEDFF;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body{
  min-height: 100%;
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.tieu-de-muc{
  height: 70px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--body-color);
  padding-left: 80px;
}

body.dark{
  --box-color: #131111;
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #2E2F2F;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--primary-color-light);
  transition: var(--tran-05);
  z-index: 100;  
  overflow: hidden;
}
.sidebar.close{
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text{
  opacity: 0;
}
/* =========================== */

.sidebar header{
  position: relative;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
}
.sidebar header .logo-text{
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession{
  font-size: 16px;
  margin-top: -2px;
  display: block;
  padding-left:20px ;
}

.sidebar header .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img{
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
  color: var(--text-color);
}

.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
  margin-top: 40px;
}

.sidebar li.search-box{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a{
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover{
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
  color: var(--text-color);
}

.sidebar .menu-bar{
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
  display: none;
}
.sidebar .menu-bar .mode{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
  height: 50px;
  width: 60px;
}

.mode .sun-moon i{
  position: absolute;
}
.mode .sun-moon i.sun{
  opacity: 0;
}
body.dark .mode .sun-moon i.sun{
  opacity: 1;
}
body.dark .mode .sun-moon i.moon{
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before{
  left: 20px;
}

.home{
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home{
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text{
  color: var(--text-color);
}
